<!DOCTYPE html>
  <html>

    <head>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>

      <script>
        var ng = angular.module('ng')

        ng.controller('Login', function ($scope, $http) {

          $scope.isAuthenticated = false;

          var reqData = function (self) {
            if ($scope.isInject) {
               return JSON.stringify({
                "username": self.user,
                "password": {
                  "$gt": ""
                }
              });             
            } else {
              return {
                "username": self.user,
                "password": self.pass
              };
            }
          };

          $scope.login = function () {
            var req = $http({
              method: 'POST',
              url: '/login',
              data: reqData(this)
            });

            var self = this;

            req.then(
              function (event) {
                if (event.data && typeof(event.data) === "object") {
                  self.isAuthenticated = true;
                  self.isInject = false;
                  self.message = event.data;
                }
              },
              function (event) {
                self.isAuthenticated = false;
                self.isInject = false;
                self.message = event.data.message;
              }
            );
          };

          $scope.inject = function () {
            $scope.isInject = true;
          };


          $scope.logout = function () {
            $scope.isAuthenticated = false;
            $scope.isInject = false;
            $scope.message = null;
          };

        });

      </script>

    </head>



    <body ng-app>
      <div ng-controller="Login">
        <h1 ng-show="!isAuthenticated">No Login</h1>
        <h1 ng-show="isAuthenticated">Login</h1>

        <p ng-show="!isAuthenticated">I Dare you! I double Dare you!!</p>

        <input ng-show="!isAuthenticated" ng-model="user" type="text" name="user" autocomplete="off">
        <input ng-show="!isAuthenticated" ng-model="pass" type="password" name="pass" autocomplete="off">

        <button ng-show="!isAuthenticated" ng-click="login()">Login</button>
        <button ng-show="!isAuthenticated" ng-click="inject()">Injection</button>
        <button ng-show="isAuthenticated" ng-click="logout()">Logout</button>

        <p ng-show="message">{{ message }}</p>

      </div>
    </body>

  <html>

